
* {
    /* global color */
    -rs-back-color: #201c1c;
    -rs-back-color2: #232424;


    -rs-group-color1: #2f2c2b;
    -rs-group-color2: #403b3a;
    -rs-group-color3: #4f4b4a;
    -rs-group-color4: #676260;
    -rs-common-text-fill: #d6d6d6;

    /* icons color */
    -rs-icon-color: #838383;
    -rs-icon-hover-color: #c4c4c4;
    -rs-icon-selected-color: #e1e1e1;

    /* app window */
    -rs-app-title-color: #978b86;
    -rs-app-title-bar-color: #5a5350;
    -rs-dialog-title-bar-color: #5a5350;
    -rs-app-status-bar-color: #47413f;
    -rs-app-left-side-bar-color: #34302e;

    /* menu and tree color */
    -rs-tree-background-color: #323232;
    -rs-menu-selection-color: #4674aa;
    -rs-tree-selection-color: #4674aa;
    -rs-tree-hover-color: #544f4d;

    /* controls color */
    -rs-control-background-color: #4f4b4a;
    -rs-control-border-color: #818181;
    -rs-control-highlight-fill: #4674aa;
    -rs-controler-field-fill: #d6d6d6;

    /* icons color */
    -rs-icon-redis-connection-color: #ff6f74;
    -rs-icon-redis-database-color: #9db1b0;
}

.root {
    -fx-font-family: "YaHei Consolas Hybrid";
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-text-fill: -rs-common-text-fill;
    -fx-base: -rs-group-color1;
    -fx-background-color: -rs-group-color1;
}

#lbAppTitle {
    -fx-font-size: 11;
    -fx-text-fill: -rs-app-title-color;
}

.window-title-bar {
    -fx-background-color: -rs-app-title-bar-color;
}

.window-title-bar-button {
    -fx-background-color: -rs-app-title-bar-color;
}

.window-title-bar-button:hover {
    -fx-background-color: -rs-group-color4;
}


.window-close-button {
}

.window-close-button:hover {
    -fx-background-color: #ed2620;
}

.dialog-title-bar {
    -fx-pref-height: 30;
    -fx-background-color: -rs-dialog-title-bar-color;
}

.table-view {
    -fx-background-color: #313131;
    -fx-text-fill: -rs-common-text-fill;
}

.table-view:focused {
    -fx-background-insets: 0, 0, 0;
    -fx-focus-traversable: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #2c2b2b;
    /*-fx-background-color: linear-gradient(#131313 0%, #424141 100%);*/
}

.table-view .column-header-background .filler {
    -fx-background-color: #2c2b2b;
}

.table-view .show-hide-columns-button {
    -fx-background-color: #3e3d3d;
}


.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #a1a1a1;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: -rs-common-text-fill;
}

.table-row-cell {
    -fx-pref-height: 40;
    -fx-background-color: #515151, #313131;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.table-row-cell:odd {
    -fx-background-color: #4e4e4e, #353535;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.table-row-cell:hover {
    -fx-pref-height: 40;
    -fx-background-color: #4e4e4e, #5f5f5f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}


.table-row-cell:focused {
    -fx-focus-traversable: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #656565, -rs-tree-selection-color;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    -fx-padding: 0;
}

.left-side-tab-bar {
    -fx-background-color: -rs-app-left-side-bar-color;
}

.left-side-tab {
    -fx-background-color: -rs-app-left-side-bar-color;
}

.left-side-tab .ikonli-font-icon {
    -fx-icon-color: -rs-icon-color;
}

.left-side-tab:hover {
    /*-fx-background-color: -rs-group-color4;*/
    -fx-cursor: HAND;
}


.left-side-tab:hover .ikonli-font-icon {
    -fx-icon-color: -rs-icon-hover-color;
}

.left-side-tab-selected {
}

.left-side-tab-selected .ikonli-font-icon {
    -fx-icon-color: -rs-icon-selected-color;
}

.left-side-tab-selected:hover .ikonli-font-icon {
    -fx-icon-color: -rs-icon-selected-color;
}


.selection-connection-db {

}

.selection-connection-db-connecting {

}

.selection-connection-db-disconnecting {

}



.selection-connection-db .ikonli-font-icon {
    -fx-icon-size: #aea6a6;
}

.selection-connection-db-connecting .ikonli-font-icon  {
    -fx-icon-size: #5bd558;
}


.selection-connection-db-disconnecting .ikonli-font-icon  {
    -fx-icon-size: #b52525;
}

.navigation-view {
    -fx-background-color: #606060;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-focus-traversable: transparent;
}

.navigation-view:focused {
    -fx-focus-traversable: transparent;
}

.navigation-view .jfx-list-view {
    -fx-background-color: #4d4845;
    -fx-border-width: 0;
    -fx-focus-traversable: transparent;
    -fx-focus-color: transparent;
}

.navigation-view .jfx-list-view:focused {
    -fx-focus-traversable: transparent;
}

.navigation-view .jfx-list-view .jfx-list-cell {
    -fx-font-weight: BOLD;
    -fx-font-size: 11;
    -fx-text-fill: -rs-common-text-fill;
    /*-fx-pref-height: 30;*/
    -fx-cell-size: 34;
}


.navigation-view .jfx-list-view .jfx-list-cell .jfx-rippler {
    -fx-background-color: #4d4845;
    -fx-pref-height: 30;
}

.navigation-view .jfx-list-view .jfx-list-cell:selected .jfx-rippler {
    -fx-background-color: #3c6594;
    -jfx-rippler-fill: #3c6594;
}

.navigation-view .jfx-list-view .load-more-cell .jfx-rippler {
    -fx-background-color: #4d4845;
}

.navigation-view .jfx-list-view .load-more-cell:selected .jfx-rippler {
    -fx-background-color: #4d4845;
}


.load-more-cell-rippler{
    -fx-background-color: RED;
}

.load-more-box {
    -fx-alignment: CENTER-LEFT;
    -fx-cursor: HAND;
}

.load-more-box .label {
    -fx-background-insets: 0 0 0 50;
    -fx-text-fill: -rs-common-text-fill;
}

.load-more-box:hover .label {
    -fx-text-fill: WHITE;
}

.navigation-view .key-status-bar {
    -fx-border-width: 0;
    -fx-background-color: #3c3836;
}

.navigation-view .status-bar .right-items {
    -fx-text-alignment: center-right;
}


.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-pref-height: 8;
}

.scroll-bar:vertical {
    -fx-pref-width: 8;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal:hover .track, .scroll-bar:vertical:hover .track {
    -fx-background-color: #57514f;
}


.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #606060;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #737373;
}

.string-value-scroll-pane {
    -fx-background-color: #404040;
}

/*
.string-value-scroll-pane .scroll-bar:horizontal, .string-value-scroll-pane .scroll-bar:vertical {
    -fx-background-color: #404040;
}
*/


/*
.left-side-tab:hover .ikonli-font-icon {
    -fx-icon-color: -rs-icon-hover-color;
}
*/

.conn-manager-pane {
    -fx-background-color: -rs-back-color;
}

.conn-manager-button {

}

.conn-manager-button-bar {
    -fx-background-color: #403f3f;
}

.conn-manager-button .label {
    -fx-text-fill: #7d7d7d;
}

.conn-manager-button:hover {
    -fx-background-color: #7a7a7a;
    -fx-cursor: HAND;
}

.conn-manager-button:hover .label {
    -fx-text-fill: #e3e3e3;
}

.conn-manager-banner-box {
    -fx-background-color: -rs-back-color;
}

.conn-manager-list {
    -fx-background-color: #6f6f6f;
}

.dialog-close-button {
}

.dialog-close-button .ikonli-font-icon {
    -fx-icon-color: #a5a5a5;
}

.dialog-close-button:hover .ikonli-font-icon {
    -fx-icon-color: #ebebeb;
}

.groupPane {
    -fx-background-color: -rs-group-color1;
    -fx-background-radius: 1.2;
    -fx-padding: 10 10 10 10;
}

.groupPane2 {
    -fx-background-color: -rs-group-color2;
    -fx-background-radius: 1.2;
    -fx-padding: 10 10 10 10;
}

.backPane {
    -fx-background-color: -rs-back-color;
}



.menu, .menu-item, .context-menu, .menu-bar, .bread-crumb-bar {
    -fx-background-color: -rs-app-title-bar-color;
}

.menuIcon {
    -fx-icon-size: 12px;
    /*-fx-background-insets: 0 20 0 10;*/
    -fx-pref-width: 17;
    -fx-icon-color: -rs-common-text-fill;
}

.menu:hover, .menu-item:hover, .menu:showing {
    -fx-background-color: -rs-menu-selection-color;
}

.split-pane {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.split-pane *.split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0 1 0 0;
    -fx-background-insets: 0;
}

.check-box {
    -fx-focus-color: transparent;
}

.check-box .box {
    -fx-background-color: #272524;
    -fx-border-width: 1;
    -fx-border-color: -rs-control-border-color;
}

.tree-view, .tree-cell {
    -fx-background-color: -rs-tree-background-color;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-text-fill: -rs-common-text-fill;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-background-insets: 0 0 0 0;
}


.tree-cell .arrow {
    -fx-background-insets: 3.6 0 0 5.5;
    -fx-pref-height: 10.5;
    -fx-pref-width: 10.5;
    -fx-content-display: center;
    -fx-background-color: WHITE;
}

.tree-cell:expanded .arrow {
    -fx-background-insets: 1.8 1.2 2 3.8;
    -fx-pref-height: 10.5;
    -fx-pref-width: 10.5;
    /*-fx-pref-height: 5.5;*/
    -fx-content-display: center;
    -fx-background-color: WHITE;
}

.tree-cell .graphic {
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-padding: 0 10 0 0;
    -fx-background-color: #17ff00;
}

.tree-cell .jfx-spinner {
    -fx-pref-width: 22;
    -fx-pref-height: 22;
}

.tree-cell .jfx-spinner .arc {
    -fx-stroke: #e88cfa;
}


.tree-cell:selected {
    -fx-background-color: -rs-tree-selection-color;
}


.tree-cell .selection-bar {
    -fx-background-color: transparent;
}

.tree-view:focused {
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
}

.redis-conn-icon {
    -fx-icon-size: 25px;
    -fx-icon-color: -rs-icon-redis-connection-color;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}

.redis-db-icon {
    -fx-icon-size: 14px;
    -fx-icon-color: -rs-icon-redis-database-color;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-background-insets: 0 20 0 0;
}


#statusBar {
    -fx-background-color: -rs-app-status-bar-color;
    -fx-border-width: 0;
}

#navigationTree {
    -fx-border-width: 0;
    -fx-focus-color: transparent;
}

#connSettingTabView {
}

#connSettingTabView .tab-header-background {
    -fx-background-color: #9a9a9a;
}

.text-field {
    /*-fx-prompt-text-fill: #fffd8c; */
    -fx-text-fill: -rs-controler-field-fill;
    -fx-highlight-fill: -rs-control-highlight-fill;
    -fx-pref-height: 22;
    -fx-background-color: -rs-control-background-color;
    -fx-border-width: 1;
    -fx-border-color: -rs-control-border-color;
    -fx-font-size: 12;
    -fx-background-radius: 1;
}


.text-field:focused {
    -fx-background-color: #413d37;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.combo-box {
    -fx-text-fill: -rs-controler-field-fill;
    -fx-highlight-fill: -rs-control-highlight-fill;
    -fx-pref-height: 22;
    -fx-background-color: -rs-control-background-color;
    -fx-border-width: 1;
    -fx-border-color: -rs-control-border-color;
}

.combo-box-popup .list-view {
    -fx-background-color: #292424, #201c1c;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.jfx-button {
    -fx-background-color: #423d3d;
    -fx-pref-width: 80;
    -fx-pref-height: 25;
    -fx-background-radius: 0;
}



.dialog-parent {
    -fx-background-color: transparent;
}

.dialog-box {
    -fx-border-width: 0;
    -fx-background-color: -rs-group-color1;
    -fx-border-color: -rs-control-border-color;
    /*-fx-effect: none;*/
}

.portField {
    -fx-pref-width: 50;
    -fx-pref-height: 30;
}

.searchPane {
    -fx-background-color: #44403e;
}


.searchField {
    -fx-background-color: #44403e;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 5;
}

.searchField:focused {
    -fx-background-color: #44403e;
}

.searchField .option {
    -fx-cursor: HAND;
}

.searchField .searchCancel {
    -fx-cursor: HAND;
}

.search-advanced-conditions {
    -fx-background-color: #44403e;
}

.search-advanced-conditions .type-box {
    -fx-cursor: HAND;
}

.search-advanced-conditions .type-box:hover {
    -fx-background-color: #585350;
    -fx-background-radius: 2.5;
}

#leftBox {
    -fx-border-width: 0;
}

#rightBox {
    -fx-background-color: -rs-back-color2;
    -fx-border-width: 0;
}

#btnTestConnection {
    -fx-background-color: #2f4e7f;
}

#connSettingTabView {
}

#connSettingTabView .tab .tab-label {
    -fx-font-size: 11;
    -fx-content-display: top;
}

#connSettingTabView .tab-header-background {
    -fx-background-color: #403b3a;
}

#connSettingTabView .tab:selected {
    -fx-background-color: #40645d;
    -fx-text-fill: #32322b;
}

#connSettingTabView .tab {
    -fx-pref-height: 80;
    -fx-pref-width: 110;
    -fx-font-size: 12.6;
}

#connSettingTabView .tab-header-area .tab-selected-line {
    -fx-background-color: #60fff7;
}

#connSettingTabView .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #60fff7;
}


#sshSettingTabView .tab {
    -fx-pref-height: 26;
    -fx-pref-width: 80;
}

#sshSettingTabView .tab .tab-label {
    -fx-font-size: 11;
    -fx-content-display: top;
    -fx-text-fill: #aeae99;
}


#sshSettingTabView .tab-header-background {
    -fx-background-color: #201c1c;
}

#sshSettingTabView .tab {
    -fx-background-color: #2d2a29;
    -fx-border-width: 0;
}


#sshSettingTabView .tab:selected {
    -fx-background-color: #365991;
}

#sshSettingTabView .tab:selected .tab-label {
    -fx-font-size: 11;
    -fx-content-display: top;
    -fx-text-fill: #fbfbdf;
}


#sshSettingTabView .tab-header-area .tab-selected-line {
    -fx-opacity: 0;
}

#sshSettingTabView .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #5792d6;
}

.rs-tool-bar {
    -fx-background-color: -rs-app-title-bar-color;
    -fx-focus-traversable: transparent;
}

.rs-tool-bar .jfx-button {
    -fx-background-color: -rs-app-title-bar-color;
}

.rs-tool-bar .jfx-button:hover {
    -fx-background-color: #6d6561;
}

.rs-tool-bar .jfx-button .ikonli-font-icon {
    -fx-icon-color: -rs-icon-hover-color;
}



.string-value-plain-text {
    -fx-text-fill: -rs-common-text-fill;
}

.string-key-status-bar {
    -fx-border-width: 0;
    -fx-background-color: #3c3836;
}

.string-key-status-bar #valueModeBox {
    -fx-text-fill: -rs-common-text-fill;
    -fx-cursor: HAND;
}

.string-key-status-bar #valueModeBox:hover {
    -fx-background-color: #4a4543;
}


