
* {
    /* global color */
    -rs-back-color: #201c1c;
    -rs-group-color1: #2f2c2b;
    -rs-group-color2: #403b3a;
    -rs-common-text-fill: #d6d6d6;

    /* menu and tree color */
    -rs-tree-background-color: #2f2c2b;
    -rs-menu-selection-color: #5792d6;
    -rs-tree-selection-color: #5792d6;

    /* controls color */
    -rs-control-background-color: #312f2d;
    -rs-control-border-color: #818181;
    -rs-control-highlight-fill: #5792d6;
    -rs-controler-field-fill: #d6d6d6;

    /* icons color */
    -rs-icon-redis-connection-color: #ff4844;
}

.root {
    -fx-font-family: "YaHei Consolas Hybrid";
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-text-fill: -rs-common-text-fill;
    -fx-base: -rs-group-color1;
    -fx-background-color: -rs-group-color1;
}

.groupPane {
    -fx-background-color: -rs-group-color1;
    -fx-background-radius: 1.2;
    -fx-padding: 10 10 10 10;
}

.groupPane2 {
    -fx-background-color: -rs-group-color2;
    -fx-background-radius: 1.2;
    -fx-padding: 10 10 10 10;
}

.backPane {
    -fx-background-color: -rs-back-color;
}

.menu, .menu-item, .context-menu, .menu-bar, .bread-crumb-bar {
    -fx-background-color: #2f2c2b;
}

.menuIcon {
    -fx-icon-size: 12px;
    /*-fx-background-insets: 0 20 0 10;*/
    -fx-pref-width: 17;
    -fx-icon-color: -rs-common-text-fill;
}

.menu:hover, .menu-item:hover, .menu:showing {
    -fx-background-color: -rs-menu-selection-color;
}

.split-pane *.split-pane-divider {
    -fx-padding: 1 1 0 0;
}

.check-box {
    -fx-focus-color: transparent;
}

.check-box .box {
    -fx-background-color: #272524;
    -fx-border-width: 1;
    -fx-border-color: -rs-control-border-color;
}

.tree-view, .tree-cell {
    -fx-background-color: -rs-tree-background-color;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-text-fill: -rs-common-text-fill;
}

.tree-cell .arrow {
    -fx-background-insets: 3.6 0 0 5.5;
    -fx-pref-height: 10.5;
    -fx-pref-width: 10.5;
    -fx-content-display: center;
    -fx-background-color: WHITE;
}

.tree-cell:expanded .arrow {
    -fx-background-insets: 1.8 1.2 2 3.8;
    -fx-pref-height: 10.5;
    -fx-pref-width: 10.5;
    /*-fx-pref-height: 5.5;*/
    -fx-content-display: center;
    -fx-background-color: WHITE;
}


.tree-cell:selected {
    -fx-background-color: -rs-tree-selection-color;
}

.tree-cell .selection-bar {
    -fx-background-color: transparent;
}

.tree-view:focused {
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
}

.redisConnIcon {
    -fx-icon-size: 25px;
    -fx-icon-color: -rs-icon-redis-connection-color;
}

#statusBar {
    -fx-border-width: 2;
}

#navigationTree {
    -fx-border-width: 0;
    -fx-focus-color: transparent;
}

#connSettingTabView {
}

#connSettingTabView .tab-header-background {
    -fx-background-color: #9a9a9a;
}

.text-field {
    /*-fx-prompt-text-fill: #fffd8c; */
    -fx-text-fill: -rs-controler-field-fill;
    -fx-highlight-fill: -rs-control-highlight-fill;
    -fx-pref-height: 22;
    -fx-background-color: -rs-control-background-color;
    -fx-border-width: 1;
    -fx-border-color: -rs-control-border-color;
    -fx-font-size: 12;
    -fx-background-radius: 1;
}


.text-field:focused {
    -fx-background-color: #413d37;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.combo-box {
    -fx-text-fill: -rs-controler-field-fill;
    -fx-highlight-fill: -rs-control-highlight-fill;
    -fx-pref-height: 22;
    -fx-background-color: -rs-control-background-color;
    -fx-border-width: 1;
    -fx-border-color: -rs-control-border-color;
}

.combo-box-popup .list-view {
    -fx-background-color: #292424, #201c1c;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.jfx-button {
    -fx-background-color: #423d3d;
    -fx-pref-width: 80;
    -fx-pref-height: 25;
    -fx-background-radius: 0;
}

.portField {
    -fx-pref-width: 50;
    -fx-pref-height: 30;
}

.searchPane {
    -fx-background-color: #44403e;
}

.searchField {
    -fx-background-color: #44403e;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 5;
}

.searchField:focused {
    -fx-background-color: #44403e;
}

.searchField .searchCancel {
    -fx-cursor: pointer;
}

#btnTestConnection {
    -fx-background-color: #2f4e7f;
}

#connSettingTabView {
}

#connSettingTabView .tab .tab-label {
    -fx-font-size: 11;
    -fx-content-display: top;
}

#connSettingTabView .tab-header-background {
    -fx-background-color: #403b3a;
}

#connSettingTabView .tab:selected {
    -fx-background-color: #40645d;
    -fx-text-fill: #32322b;
}

#connSettingTabView .tab {
    -fx-pref-height: 80;
    -fx-pref-width: 110;
    -fx-font-size: 12.6;
}

#connSettingTabView .tab-header-area .tab-selected-line {
    -fx-background-color: #60fff7;
}

#connSettingTabView .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #60fff7;
}


#sshSettingTabView .tab {
    -fx-pref-height: 26;
    -fx-pref-width: 80;
}

#sshSettingTabView .tab .tab-label {
    -fx-font-size: 11;
    -fx-content-display: top;
    -fx-text-fill: #aeae99;
}


#sshSettingTabView .tab-header-background {
    -fx-background-color: #201c1c;
}

#sshSettingTabView .tab {
    -fx-background-color: #2d2a29;
    -fx-border-width: 0;
}


#sshSettingTabView .tab:selected {
    -fx-background-color: #365991;
}

#sshSettingTabView .tab:selected .tab-label {
    -fx-font-size: 11;
    -fx-content-display: top;
    -fx-text-fill: #fbfbdf;
}


#sshSettingTabView .tab-header-area .tab-selected-line {
    -fx-opacity: 0;
}

#sshSettingTabView .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #5792d6;
}






