.string-value-plain-text {
    -fx-background-color: #404040;
    -fx-cursor: TEXT;
}

.string-value-plain-text .paragraph-box {
    -fx-background-color: #404040;
}

.string-value-plain-text .paragraph-text {
    -fx-line-spacing: 1.2;
}


.string-value-plain-text .lineno {
    -fx-background-color: #404040;
    -fx-font-size: 12;
    -fx-font-weight: normal;
    -fx-font-family: Arial;
    -fx-pref-width: 40;
    -fx-padding: 0 15 0 0;
}

.string-value-plain-text .caret {
    -fx-stroke: #ede6e6;
    -fx-stroke-width: 2;
}


.string-value-plain-text .main-selection {
    -fx-fill: #214f8e;
}

.string-value-plain-text .text {
    -fx-font-weight: bold;
    -fx-fill: #cac4c4;
    -rtfx-border-stroke-width: 2;
}
